body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f3e7; /* Fondo suave y cálido */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #player-form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffcb42; /* Borde amarillo cálido */
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fbeee6; /* Fondo crema claro */
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f61; /* Fondo rojo coral */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff3b2f; /* Rojo más oscuro al hacer hover */
  }
  
  #data-container {
    margin-top: 20px;
  }
  
  .item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fbeee6; /* Fondo crema claro */
    border: 1px solid #ffcb42; /* Borde amarillo cálido */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ff6f61; /* Borde rojo coral */
  }
  
  .item p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #444; /* Texto más oscuro para contraste */
  }
  